
h2{
  color:black;
  font-size: 36px;
  font-family:"Georgia";
}
h3{
  color:black;
  font-size: 18px;
  font-family: "Georgia";
}
/*body{
  background-color:#42f4a4;
}*/

img{
  width: 300px;
  height: auto;
}

img.animated-gif{
  width: 300px;
  height: auto;
}
#logo{
  width: 100px;
  height:auto;
}

form{
  width: 100%;
  height: 50px;
/*  background-color: #f44242;*/
  padding: 50px;
  padding-left: 400px;
}

form input{
  margin-right: -4px;
  border: none;
  width: 300px;
  height: 50px;
  /*background-color: #333;*/
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

form input[type="email"]
button{
  height: 100px;
 background-color: #999;
  /*color: #333;*/
  border: 1px solid #333;
  border-top-right-radius: 5px;
  transition: all0 0.5s ease-in-out;
}



#tamirice:hover {
    margin: 100px;
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}




#ericgarner:hover {
    margin: 100px;
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#raceOfPeopleKilled:hover {
    margin: 100px;
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}




#graphAmericanPop:hover {
    margin: 100px;
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#graphOfArmed:hover {
    margin: 100px;
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

body{
  background-color: #fcfdff
}
