
h2{
  color:black;
  font-size: 36px;
  font-family:"Georgia";
}
h3{
  color:black;
  font-size: 18px;
  font-family: "Georgia";
}
body{
  background-color:#42f4a4;
}

img{
  width: 300px;
  height: auto;
}

img.animated-gif{
  width: 300px;
  height: auto;
}
#logo{
  width: 200px;
  height:auto;
}
